################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

[Bb]in/
[Oo]bj/
BenchmarkDotNet.Artifacts/
/.vs
CHDSharpEncoder/CHDInfo.md
CHDSharpEncoder/EncoderPlan.md
CHDSharpEncoderTest/TestResults/
whatsnew.md
.aider*
References/FutureEnhancements.md

# Battle-test artifacts
TestResults/
